&_success:not(.button_disabled) {

  &.button_secondary,
  &.button_tertiary {
    --button-bg: var(--button-bg-success-secondary, #EAFBE7);
    --button-color: var(--button-color-success-secondary, var(--color-success, #328048));
    --button-border: var(--button-border-color-success-secondary, #C6F0C2);

    &:hover {
      --button-hover-bg: var(--button-hover-bg-success-secondary, #fff);
    }

    &:focus {
      --button-focus-bg: var(--button-focus-bg-success-secondary, #EAFBE7);

      &:after {
        --button-focus-bg: var(--color-success, #328048);

        opacity: 1;
      }
    }

    &:active {
      --button-focus-bg: var(--button-focus-bg-success-secondary, #fff);
      --button-border: var(--button-border-color-active-success-secondary, #2F6846);
    }
  }
}