&_secondary:not(.button_disabled) {
  --button-bg: var(--button-bg-secondary, #F0F0FF);
  --button-color: var(--button-secondary-color, #4945FF);
  --button-border: #D9D8FF;

  &:hover {
    --button-hover-bg: var(--button-hover-bg-secondary, #FFFFFF);
  }

  &:focus {
    --button-focus-bg: var(--button-focus-bg, #F0F0FF);
  }

  &:active {
    --button-focus-bg: var(--button-focus-bg, #FFFFFF);
    --button-border: var(--button-focus-border-color-secondary, #271FE0);
  }
}