&_tertiary:not(.button_disabled) {
  --button-bg: var(--button-bg-secondary, #FFFFFF);
  --button-color: var(--button-secondary-color, #32324D);
  --button-border: #DCDCE4;

  &:hover {
    --button-hover-bg: var(--button-hover-bg-tertiary, #F6F6F9);

    &:deep(.icon) {
      color: var(--button-icon-hover-color, #4945FF);
    }
  }

  &:focus {
    --button-focus-bg: var(--button-focus-bg-tertiary, #FFFFFF);

    &:after {

      opacity: 1;
    }
  }

  &:active {
    --button-focus-bg: var(--button-focus-bg-tertiary, #DCDCE4);
  }
}