&_disabled {
  --button-bg: var(--button-disabled-bg, #EAEAEF);
  --button-color: var(--button-disabled-color, #666687);
  --button-border: var(--button-disabled-border-color, #DCDCE4);

  cursor: not-allowed;

  &:hover {
    --button-hover-bg: var(--button-disabled-bg-hover, #EAEAEF);
  }

  &.button_clear {
    --button-color: var(--button-clear-disabled-color, #8E8EA9);

    background: transparent;
    border-color: transparent;
  }
}